* {
    background-color:#eeeeeeac;
     font-family: -apple-system,system-ui;
     text-align: center;
}


h1 {
    font-size: 30px;

}

/*header {
    position : fixed;
    justify-content: center;
    left:500px;
}*/
