/* {
    padding: 0;
    margin :0;
}

.navbar {
    background-color: rgb(25, 24, 24);
    height: 60px;
    font-size: 20px;
    color: white;
    }
    

#logo {
    color: rgb(234, 179, 15);
    font-size: 26px;
}

button {
    background-color: rgb(234, 179, 15);
    color: white;
    height: 20px;
    border: 2px solid rgb(234, 179, 15);
    border-radius: 10%;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}*/



